@import url('./normalize.css');
@import url('./fonts/stylesheet.css');
@import url('./feed.css');

* {
    box-sizing: border-box;
    font-family: 'Gilroy';
}

.wrapper {
    width: 1320px;
    margin-left: auto;
    margin-right: auto;
}

body {
    background-color: #F9F9F9;
}

header {
    padding-top: 33px;
    padding-bottom: 46px;
    background: #FFFFFF;
}

.akkaunt {
    margin-left: 19.30px;
}

.logo-right {
    display: flex;
    align-items: center;
}

.logo-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 42px;
}


.tel-number {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 11.25px;
}

.forma-search {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color :#F2F2F2;
    width: 345px;
    height: 54px;
    border: 1px solid #BDBDBD;
    border-radius: 10px;
}

.search-input {
    border: none;
    background-color: transparent;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

.search {
    border: none;
    background-color: transparent;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #4F4F4F;
    text-decoration: none;
}

.navigation:nth-child(-n+3) {
    margin-right: 40px;
}


footer {
    background: #333333;
    padding-bottom: 130px;
    padding-top: 100px;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.trans {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    text-decoration: none;
}

.trans a {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    text-decoration: none;
}

.trans a:first-child {
    margin-right: 47px;
}

.media a:first-child {
    margin-right: 20px;
}

.kontakt a {
    display: flex;
    align-items: center;
    margin: 0;
    color: #FFFFFF
}



