@import url('./normalize.css');
@import url('./fonts/stylesheet.css');
@import url('./feed.css');

* {
    box-sizing: border-box;
    font-family: 'Gilroy';
}

.wrapper {
    width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

body {
    background-color: #F9F9F9;
}

header {
    padding-top: 33px;
    padding-bottom: 46px;
    background: #FFFFFF;
}

.logo-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 42px;
}

.tel {
    margin-right: 11.25px;
}

.tel-number {
    margin-right: 60px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    text-decoration: none;
}

.search-input {
    width: 345px;
    height: 54px;
    border: 1px solid #BDBDBD;
    border-radius: 10px;
    background-color :#F2F2F2;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #4F4F4F;
    text-decoration: none;
    margin-right: 40px;
}

main {
    padding-top: 75px;
}

.back {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #333333;
    text-decoration: none;
}

.navigation-main {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #BDBDBD;
    text-decoration: none;
}

.navigation-main-section {
    margin-bottom: 30px;
}